
<div class="content-left">
  <div class="content-left-menu">
    <ul>
      <li><a id="server-status" class="btn" href="/D">Server status</a></li>
      <li><a id="system-status" class="btn" href="#">System status</a></li>
    </ul>
  </div>
</div>


<div class="content-right">
  Super important content
</div>
