
<div class="content-left">
  <div class="content-left-menu">
    <ul>
      <li><a id="list-nas" class="btn" href="/N">List NAS</a></li>
      <li><a id="new-nas" class="btn" href="#">New NAS</a></li>
      <li><a id="edit-nas" class="btn" href="#">Edit NAS</a></li>
      <li><a id="delete-nas" class="btn" href="#">Delete NAS</a></li>
    </ul>
  </div>
</div>

<div class="content-right">
  Super important NAS info
</div>
