
<div class="header-nav">
  <ul class="header-nav-items">
    <li class="header-nav-item"><a href="/">Dashboard</a></li>
    <li class="header-nav-item"><a href="/U">Users</a></li>
    <li class="header-nav-item"><a href="/P">Profiles</a></li>
    <li class="header-nav-item"><a href="/N">NAS</a></li>
    <li class="header-nav-item"><a href="/A">Accounting</a></li>
    <li class="header-nav-item"><a href="/S">System</a></li>
  </ul>

  <div class="nav-menu">
    <div class="nav-menu-content">
      <ul><li class="header-nav-item"><a href="/logout">Logout</a></li></ul>
    </div>
    <div class="nav-menu-btn header-nav-item">
      <a><div class="menu-symbol"> </div></a>
    </div>
  </div> <!-- End of nav-menu -->
</div>
