
<div class="content-left">
  <div class="content-left-menu">
    <ul>
      <li><a id="list-profiles" class="btn" href="/N">List profile</a></li>
      <li><a id="new-profile" class="btn" href="#">New profile</a></li>
      <li><a id="edit-profile" class="btn" href="#">Edit profile</a></li>
      <li><a id="delete-profile" class="btn" href="#">Delete profile</a></li>
    </ul>
  </div>
</div>


<div class="content-right">
  Super important profile info
</div>
