<!DOCTYPE html>
<html>
  <head>
    <title>frManager Login</title>
    
    <meta name="viewport" content="width=device-width"/> 
    
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/fonts.css"/>
    
  </head>
  <body class="login-wrap">
    <div class="login">
      <fieldset>
        <legend>frManager Login</legend>
        <form method="post" action="/login">
    	  <input type="text" name="username" placeholder="Username" required="required"/>
          <input type="password" name="password"
                 placeholder="Password" required="required"/>
          <button type="submit" class="btn">Login</button>
        </form>
      </fieldset>
    </div>
  </body>
</html>
